aclocal.m4
metacli/Makefile
metacli/Makefile.in
metaview/Makefile
metaview/Makefile.in
install-sh
missing
rpmbuild/*
config.*
configure
Makefile
Makefile.in
metacli/metacli
*.tar.gz
metaview/metaview
